<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ApplePayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0441AC481C7CA3A3000B61AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0441AC611C7CA3A3000B61AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0441AC6C1C7CA3A3000B61AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
